<div class="dates_wrapper">  
  <div class="dates">
    
    <div class="summary">
      Pivotal Tracker: <%= session[:pivotal_tracker_project_id] %> / <%= session[:pivotal_tracker_member_id] %><br />
      Github: <%= session[:github_repository_name] %> / <%= session[:github_collaborator_name] %>
    </div>

    <h2>Generate a report between:</h2>
    
    <% semantic_form_for :date_interval, :url => generate_report_path do |form| %>    
      <% form.inputs do %>
        <%= form.input :start_date, :as => :hidden, :value => Time.now.strftime("%Y/%m/%d") %>
        <%= form.input :end_date, :as => :hidden, :value => Time.now.strftime("%Y/%m/%d") %>
        <div class="start_date_wrapper left">      
          Start date:
          <div class="start_date"></div>
        </div>
        <div class="end_date_wrapper left">      
          End date:
          <div class="end_date"></div>
        </div>
        <div class="clear"></div>
      <% end %>
      <br />
      <% form.buttons do %>
        <%= submit_tag "Generate!", :class => "submit" %>
      <% end %>
    <% end %>
    
  </div>
  <%= indicator :size => :big, :class => "big_indicator", :message => "generating report ..." %>
</div>

<script type="text/javascript" charset="utf-8">
  init_date_picker('.start_date', '#date_interval_start_date');
  init_date_picker('.end_date', '#date_interval_end_date');
</script>